body{
    background: #f7f7f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

$border-color: rgba(110, 115, 125, 0.65);
$audio-element-border: 2px solid $border-color;

.app-div {
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

.header-div{
    background-image: url("../header-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 6px;
    width: 100%;
    min-height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        color: #002b41;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 34px;
        font-weight: 800;
        letter-spacing: 1px;
    }
}

.audiolist-header-div{
    display: flex;
    justify-content: space-around;
    align-items: center;

    div {
        vertical-align: middle;
        select{
            margin: 5px;
            padding: 5px;
            background-color: #f5fcff;
        }
    }
}

.audio-element {
    border-radius: 6px;
    background-color: #f0f7ff;
    margin: 10px;
}

.content-title{
    background-color: #dbecff;
    border-left: $audio-element-border;
    border-right: $audio-element-border;
    border-top: $audio-element-border;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    h3 {
        margin: 0px;
        padding: 8px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 500;
    }
}

.content-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;

    border-left: $audio-element-border;
    border-right: $audio-element-border;
    border-bottom: $audio-element-border;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;

    .info {
        display: flex;
        flex-direction: column;
        text-align: left;

        div {
            color: #022b3f;
            margin: 3px;
            span {
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-size: 16px;
                color: #000000;
            }
        }
    }

    div > .element-img{
        border-radius: 6px;
    }
}

.tag-div {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

    .tag {
        border-radius: 2px;
        background-color: #d5dbe7;
        margin: 5px;
        padding: 5px;
    }
}

.audiolist-footer-div {
    display: flex;
    justify-content: center;
}

.pagination-button {
    background-color: #d6e0f5;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid $border-color;
    border-bottom: 0px;
    border-radius: 4px;
    box-shadow: 0 4px 2px #638ddb;
    width: 100px;
    height: 35px;
    font-size: 22px;
    transition: all .1s linear;

    &:hover{
        background: #c2d1f0;
    }

    &:active{
        background-color: #adc2eb;
        box-shadow: 0 2px 0 #006599;
    }

    &:focus{
        outline: 0;
    }
}

.inactive-button{
    background-color: #d6e0f5;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid $border-color;
    border-bottom: 0px;
    border-radius: 4px;
    width: 100px;
    height: 35px;
    font-size: 22px;
    opacity: 0.5;
    box-shadow: 0 4px 2px #638ddb;
    transition: all .1s linear;
    &:focus{
        outline: 0;
    }
}

.pagination-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-number{
    min-width: 15px;
    min-height: 25px;
    padding: 4px;
    margin: 5px;
    border: 1px solid rgb(98, 174, 245);
    border-radius: 5px;
    box-shadow: 0 4px 2px #638ddb;
    transition: all .1s linear;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    &:hover{
        background: #c2d1f0;
        cursor: pointer;
    }

    &:active{
        background-color: #adc2eb;
        box-shadow: 0 2px 0 #006599;
    }

    &:focus{
        outline: 0;
    }
}
.page-number-active{
    background-color: #e6e6e6;
    border: 2px solid rgb(121, 186, 248);
}